

.no-pointer-events{
   pointer-events: none;
}
.item{
    display:flex;
    cursor: pointer;
    padding:1em 1em;
}
.title{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.shop-items{
 display:flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
}

.no-pointer-events{
    margin: 1em;
}

.container-checked{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}